*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-text-size-adjust: 100%;
  /* overflow-x: hidden; */
}

a{
  text-decoration: none;
}

.App-header{
  z-index: 10;
}

.color-secondary{
  color: rgb(148, 9, 148);
}

.bkg-secondary{
  background-color: rgb(148, 9, 148);
}